#qr-inst{
    text-align: center;
    padding: 1em;
    color: white;
}
  
#qr-area {
    margin: auto;
    margin-top: 1em;
    width: 15em;
    height: 15em;
    border: dotted 0.3em greenyellow;
    border-style: dashed;
    border-radius: 20%;
}