<ion-header id="outer-header">
  <div class="header-div">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Viewer</ion-title>
    <ion-buttons slot="end">
      <ion-button class="annotate-but" (click)="toggleNotes()">
        {{showHide}}
      </ion-button>
      <ion-button class="annotate-but" (click)="annotateModeOn()">
        T
        <!-- <ion-icon name="md-text"></ion-icon> -->
      </ion-button>
    </ion-buttons>
  </div>
</ion-header>

<ion-content (click)="handleClick($event)" [scrollEvents]="true" (ionScroll)="setScroll($event)" id="pdf-div">
  <pinch-zoom #myPinch="pinchZoom">
    <pdf-viewer id="pdf-viewer" [src]="pdfSrc" 
              [render-text]="false"
              [original-size]="false"
              [zoom]="1"
    ></pdf-viewer>
  </pinch-zoom>
</ion-content>

<div class="annotations" *ngIf="showHide === 'H'">
  <p (click)="removeNote($event)" *ngFor="let annotation of annotations;" [style.fontSize]="2/myPinch.scale + 'rem'" [style.position]="'absolute'" [style.top]="(annotation[1] - currentScroll + myPinch.pinchZoom.moveY) + 'px'" [style.left]="(annotation[2] + myPinch.pinchZoom.moveX) + 'px'">{{annotation[0]}}</p>
</div>