
// ion-toolbar {
//   --ion-toolbar-background-color: transparent;
//   --ion-toolbar-text-color: white;
//   }

body {
  background-color: black;
}

ion-header {
  border: 1px solid #eee;
  visibility: visible;
  opacity: 1;
  transition: visibility 1s, opacity 0.5s linear;
}

#home-content {
  display: block;
}

#home-content > div{
  margin: auto;
}