<ion-content id="home-page">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        QR to PDF
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content id="home-content">
    <div class="ion-padding">
      <ion-button (click)="changePage('qrcam')" expand="full" color="danger">Start Scanning</ion-button>
      <ion-button (click)="decaptate()" expand="full" color="secondary">Disapear Header</ion-button>
      <ion-button (click)="changePage('pdfolder')" expand="full" color="primary">Open Archive</ion-button>
    </div>
  </ion-content>
</ion-content>